<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New </title>
</head>
<body>
    <h1>New listining</h1>
    <form action="/listinings/new" method="post">
        <input type="text" placeholder="Enter your title">
        <input type="text" placeholder="Enter your Disceription">
        <input type="text" placeholder="Enter your location">
        <input type="text" placeholder="Enter your country">
        <input type="text" placeholder="Enter your price">
    </form>
</body>
</html>